.not-foundPage{
    position: relative;
    width: 2000px;
    height: 1000px;
    background: white;
    margin-left: 500px;
}
@media screen and (max-width: 767px) {
    .not-foundPage{
        display: flex;
        justify-content: center;
        width: 52%;
        height: 100%;
        margin-left: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .not-foundPage{
        display: flex;
        justify-content: center;
        width: 85%;
        height: 100%;
        margin-left: 5px;
        flex-direction: column;
    }
}


.not-found-number{
    width: 1600px;
    height: 275px;
    margin-left: 175px;
    font-weight: 700;
    font-size: 300px;
    line-height: 410px;
    text-align: center;
    color: #FF6060;
    display: flex;
    margin-top: 0px;
}
@media screen and (max-width: 767px) {
    .not-found-number{
        position: relative;
        width: 99%;
        margin-left: 83%;
        font-size: 180px;
        display: flex;
        justify-content: center;
        height: 309px;
        flex-wrap: wrap;
        margin-right: auto;
      }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .not-found-number{
        position: relative;
        width: 70%;
        font-size: 240px;
        display: flex;
        justify-content: center;
        height: 309px;
        flex-wrap: wrap;
        margin-right: auto;
    }
}

.not-found-police{
    width: 1850px;
    height: 50px;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    color: #FF6060;
}
@media screen and (max-width: 767px) {
    .not-found-police{
        position: absolute;
        width: 142%;
        margin-top: 350px;
        margin-left: 100%;
        margin-right: auto;
        display: flex;
        justify-content: center;
        font-size: 22px;
      }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .not-found-police{
        display: flex;
        justify-content: center;
        width: 95%;
        height: 100%;
        margin-left: 15%;
        font-size: 30px;
        flex-direction: column;
    }
}


.not-found-BackHome{
    width: 275px;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FF6060;
    display: flex;
    align-items: flex-end;
    text-decoration: underline;
    margin: 300px;
}
@media screen and (max-width: 767px) {
    .not-found-BackHome{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 142%;
        margin-top: 550px;
        margin-left: 100%;
        margin-right: auto;
    }
}