.aboutPage-title{
    background: #FF6060;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}
@media screen and (max-width: 767px){
    .aboutPage-title{
        margin-left: 20px;
        width: 92%;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .aboutPage-title{
        margin-left: 20px;
        width: 95%;
    }
}

.aboutPage-titlePolice{
    margin-left: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
@media screen and (max-width: 767px){
    .aboutPage-titlePolice{
        margin-left: 15px;
        width: 102%;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .aboutPage-titlePolice{
       width: 100%;
       display: flex;
       justify-content: space-between;
    }
}

.aboutPage-section {
    position: absolute;
    width: 1500px;
    height: 800px;
    left: 175px;
    top: 435px;
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}
@media screen and (max-width: 767px){
    .aboutPage-section{
        left: 5px;
        top: 10px;
    }
}

.aboutPage-button{
    background: #FF6060;
    width: 50px;
    border: none;
}
@media screen and (max-width: 767px){
    .aboutPage-button{
        padding-left: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .aboutPage-button{
        padding-left: 0px;
    }
}

.aboutPage-hideAndshow-Arrow{
    width: 40px;
}
@media screen and (max-width: 767px){
    .aboutPage-hideAndshow-Arrow{
        width: 30px;
    }
}

.aboutPage-police{
    background-color: #F7F7F7;
    color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 350;
    font-size: 25px;
    padding: 15px;
    width: 100%;
}
@media screen and (max-width: 767px){
    .aboutPage-police{
        font-size: 17.5px;
    }
}