.banner{
    margin-left: 170px;
    margin-top: 50px;
    width: 1600px;
    height: 250px;
}
@media screen and (max-width: 767px) {
    .banner{
        width: 95%;
        margin-left: 5px;
        height: 175px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .banner{
        width: 95%;
        margin-left: 20px;
        margin-bottom: 70px;
    }
}

.banner-police{
    position: absolute;
    width: 625px;
    height: 150px;
    margin-left: 525px;
    margin-top: 40px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .banner-police{
        width: 250px;
        margin-left: 5px;
        font-size: 30.5px;
        margin-top: 0px;
        margin-left: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .banner-police{
        width: 90%;
        margin-left: 15px;
        font-size: 40.5px;
    }
}

.banner-image{
    position: absolute;
    width: 1600px;
    height: 225px;
    margin-top: 10px;
    margin-bottom: 50px;
    }
@media screen and (max-width: 767px) {
    .banner-image{
        width: 90%;
        height: 130px;
        margin-left: 5%;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .banner-image{
        width: 92%;
        margin-left: 20px;
    }
}