.banner{
    position: absolute;
    width: 1200px;
    height: 200px;
    left: 100px;
    top: 150px;
    &_image{
        position: absolute;
        width: 1250px;
        height: 1800px;
        left: 100px;
        top: -550px;
    }
    &_police{
        position: absolute;
        width: 705px;
        height: 70px;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 70%;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 125%;
        display: flex;
        align-items: flex-end;
    }
}