.banner{
    margin-left: 200px;
    margin-top: 150px;
    width: 1200px;
    height: 250px;
}

.banner-content{
    position: absolute;
    width: 1200px;
    height: 250px;
    margin-left: 200px;
    margin-top: 150px;
    background: white;
    border-radius: 25px;
}

.banner-police{
    position: absolute;
    width: 700px;
    height: 70px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 70%;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
}

.banner-image{
    position: absolute;
    width: 1200px;
    height: 1750px;
    margin-left: 100px;
    margin-top: -555px;
    }