.banner{
    margin-left: 50px;
    margin-top: 50px;
    width: 1700px;
    height: 250px;
}

.banner-police{
    position: absolute;
    width: 700px;
    height: 150px;
    margin-left: 25%;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image{
    position: absolute;
    width: 1800px;
    height: 225px;
    margin-top: 10px;
    margin-bottom: 50px;
    }