.description-section{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 55%;
}
@media screen and (max-width: 767px){
    .description-section{
        margin-left: 10px;
        margin-top: 5%;
        width: 95%;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .description-section{
        margin-left: 10px;
        margin-top: 5%;
        width: 99%;
    }
}

.description-container{
    background: #FF6060;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 90.5%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}
@media screen and (max-width: 767px){
    .description-container{
        margin-left: 10px;
        width: 95%;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .description-container{
        margin-top: 25px;
        margin-left: 2%;
        margin-right: 3%;
        width: 95%;
    }
}

.description-title{
    margin-left: 15px;
    display: flex;
    width: 94%;
    justify-content: space-between;
}
@media screen and (max-width: 767px){
    .description-title{
        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .description-title{
        width: 100%;
        justify-content: space-between;
    }
}

.description-button{
    background: #FF6060;
    width: 50px;
    border: none;
}
@media screen and (max-width: 767px){
    .description-button{
        padding-left: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .description-button{
        padding-left: 0px;
    }
}

.description-hideAndshow-Arrow{
    width: 40px;
}
@media screen and (max-width: 767px){
    .description-hideAndshow-Arrow{
        width: 30px;
    }
}

.description-square{
    background: #F7F7F7;
    color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 350;
    font-size: 25px;
    width: 100%;
}
@media screen and (max-width: 767px){
    .description-square{
        width: 100%;
        padding: 2px;
        font-size: 14.5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .description-square{
        width: 100%;
    }
}

.description-police{
    width: 95%;
    margin: 5%;
}
@media screen and (max-width: 767px){
    .description-police{
        width: 96%;
        margin-left: 10px;
    }
}