.footer {
    position: absolute;
    width: 1440px;
    height: 209px;
    margin-top: 870px;
    margin-left: 75px;
}
    
.footer-logo {
    width: 200px;
    position: absolute;
    margin-top: 0px;
    color: red ;
}
    
.footer-police {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    margin-left: 500px;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: end;
    color: black;
}