header{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin-left: 65px;
    margin-top: 50px;
}
@media screen and (max-width: 767px){
    header{
        width: 95%;
        margin-left: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    header{
        width: 90%;
        margin-left: 45px;
    }
}

.header-logo{
    width: 215px;
    height: 80px;
}
@media screen and (max-width: 767px){
    .header-logo{
        width: 160px;
        height: 50px;
        margin-left: 10px;
    }
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
@media screen and (max-width: 767px){
    .header-nav{
        width: 135px;
        margin-left: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 995px){
    .header-nav{
        width: 35%;
        margin-left: 20px;
    }
}

.nav-style {
    text-decoration: none;
    color: red;
    font-size: 20px;
}
@media screen and (max-width: 767px){
    .nav-style{
        font-size: 15px;
        text-transform: uppercase;
    }
}

.nav-style:hover{
    text-decoration: underline;
}