header{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-left: 200px;
    margin-top: 50px;
}

.header-logo{
    width: 215px;
    height: 80px
}

.header-navigation{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-left: 800px;
    margin-top: 30px
}