.mainHome-section {
    position: absolute;
    width: 1750px;
    height: 775px;
    left: 50px;
    top: 437px;
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}
    
.mainHome-card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 32px;
    background: #FF6060;
}
        
.mainHome-Image {
    width: 340px;
    height:340px;
    object-fit: cover;
}
        
.mainHome-title {
    position: absolute;
    width: 300px;
    height: 52px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}