.mainHome-section {
    position: relative;
    width: 1600px;
    height: 2850px;
    left: 175px;
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}
    
.mainHome-card-1 {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin: 32px;
    background: #FF6060;
}

.mainHome-card-2 {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 32px;
    background: #FF6060;
}

.mainHome-card-3 {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin: 32px;
    background: #FF6060;
}

.mainHome-card-4 {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin: 32px;
    background: #FF6060;
}

.mainHome-card-5 {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin: 32px;
    background: #FF6060;
}

.mainHome-card-6 {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin: 32px;
    background: #FF6060;
}

.mainHome-Image {
    width: 340px;
    height:340px;
    border-radius: 10px;
    object-fit: cover;
}
        
.mainHome-title {
    position: absolute;
    width: 300px;
    height: 325px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25.50px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}