.presentation_section{
    display: flex;
    flex-direction: column;
    height: 200px ;
    margin-left: 50px;
    width: 1400px;
}

.presentation-police-title{
    color: #FF6060;
    font-size: 400;
}

.presentation-police-title_2{
    color: #FF6060;
    font-size: 100;
}

.presentation_host{
    width: 50px;
    color: #FF6060;
}

.tag-form{
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 200px;
    flex-direction: row;
    justify-content: space-between ;
    background-color: #FF6060;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
}

.tag-police{
    color: white;
}