.presentation_part{
    display: flex;
    flex-direction: row;
    height: 200px ;
    margin-left: 50px;
    width: 1400px;
}

.presentation_section{
    display: flex;
    flex-direction: column;
    height: 200px ;
    margin-left: 160px;
    width: 1400px;
}

.presentation-police-title{
    color: #FF6060;
    width: 400px;
    font-size: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.presentation-police-title_2{
    color: #FF6060;
    font-size: 100;
    margin-bottom: 50px;
}

.presentation_host{
    display: flex;
    flex-direction: row;
    margin-left: -75px;
    width: 1500px;
    height: 80px;
    color: #FF6060;
    justify-content: right;
}

.presentation_name{
    width: 75px;
    margin-right: 10px;
}

.host_img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.furtherDetails{
    display: flex;
    flex-direction: row;
    width: 1700px;
}

.tag-section{
    display: flex;
    flex-direction: row;
    width: 650px;
    justify-content: space-between;
}

.tag-form{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    flex-direction: row;
    background-color: #FF6060;
    border-radius: 32px;
    margin-bottom: 16px;
    color: white;
}

.tag-police{
    display: flex;
    width: 200px;
    justify-content: center;
}

.starContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 640px;
    width: 200px;
    height: 35px;
    position: relative;
}

.star {    
    width: 30px;
    height: 30px;
}