.presentation_part{
    display: flex;
    flex-direction: row;
    height: 200px ;
    margin-left: 50px;
    width: 1400px;
}
@media screen and (max-width: 767px) {
    .presentation_part{
        margin-left: 5px;
        width: 100%;
        height: auto;
    }
}

.presentation_section{
    display: flex;
    flex-direction: column;
    height: 200px ;
    margin-left: 160px;
    width: 1400px;
}
@media screen and (max-width: 767px) {
    .presentation_section{
        margin-left: 5px;
        width: 100%;
    }
}

.presentation-police-title{
    color: #FF6060;
    width: 400px;
    font-size: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.presentation-police-title_2{
    color: #FF6060;
    font-style: normal;
    font-weight: 600;
    margin-top: 15px;
}
@media screen and (max-width: 767px) {
    .presentation-police-title_2{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}


.presentation_host{
    display: flex;
    flex-direction: row;
    margin-left: -75px;
    width: 1500px;
    height: 80px;
    color: #FF6060;
    justify-content: right;
    margin-top: 0px;
}
@media screen and (max-width: 767px) {
    .presentation_host{
        width: 10%;
        padding-top: 230px;
      }
    }

.presentation_name{
    width: 75px;
    margin-right: 10px;
}

.host_img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.furtherDetails{
    display: flex;
    flex-direction: row;
    width: 1700px;
}
@media screen and (max-width: 767px) {
    .furtherDetails{
        width: 52%;
        height: 300px;
        flex-direction: column;
        margin-left: -5px;
        margin-top: 20px;
    }
}

.tag-section{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 650px;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    .tag-section{
        margin-left: 0px;
        width: 35%;
        margin-top: 0px
    }
}

.tag-form{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    flex-direction: row;
    background-color: #FF6060;
    border-radius: 16px;
    margin-bottom: 16px;
    color: white;
}
@media screen and (max-width: 767px) {
    .tag-form{
        margin-left: 5px;
        width: 100%;
    }
}

.tag-police{
    display: flex;
    width: 200px;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .tag-police{
        font-size: 11px;
    }
}


.starContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 640px;
    width: 200px;
    height: 35px;
    position: relative;
}
@media screen and (max-width: 767px) {
    .starContainer{
        padding-left: 10px;
        width: 120px;
        margin-top: 75px;
    }
}

.star {    
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 767px) {
    .star{
        width: 20px;
        height: 20px
    }
}